
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.active {
    position: absolute;
    display: block;
    background: #fff;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}
